numpy<2
matplotlib
opencv-python
scipy
trimesh
pyrender
rtree
open3d
tqdm
jupyter
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.4.1
torchvision==0.19.1+cu118
lpips
scikit-image
wandb
einops
timm